# ignore .idea folder
.idea

# ignore .ipynb_checkpoints folder
.ipynb_checkpoints

# ignore data folder
data

# ignore dataset folder
dataset

# ignore git_not_required folder
git_not_required

# ignore gym_project folder
gym_project

# ignore voice_assistant folder
voice_assistant
